body{
    padding: 0px;
    margin: 0px;
    background-color: #bbbdc0;
}

*{
    box-sizing: border-box;
}

.homecontainer {
    z-index: 0;
    padding: 0;
    margin: 0;
    background: #bbbdc0;
}

.title{
    position: fixed;
    font-family: helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 7vw;
    width: 100%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: underline;
}

.quote{
    position: absolute;
    font-family: Times New Roman, Times, serif;
    font-weight: 500;
    font-size: 4vw;
    text-align: left;
    width: 55%;
    margin-top: 21vw;
    margin-left: 26vw;
    color: #1f1c85;
    
    
}
.menubar{
    z-index: 1;
    position: fixed;
    background: #ca3018;
    bottom: 0;
    width: 100%;
    height: 80px;
    opacity: 70;
}

.video{
    position: absolute;
    margin-left: 25%;
    margin-right: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    text-align: center;
    font-family: helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 2vw;
    color: #b4cac2;
}

.process{
    position: absolute;
    margin-left: 70%;
    margin-right: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    text-align: center;
    font-family: helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 2vw;
    color: #b4cac2;
}

.videocontainer{
    position: relative;
    width: 80%;
    left: 10vw;
    right: auto;
    z-index: 3;
    margin-top: 200px;
    padding-bottom: 75px;
    opacity: 1;
    float: left;
    overflow: hidden;
    background-color: #58585b;
    border: 2px solid #000;
    border-width: 2px 2px 2px 2px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.motionvid{
    position: relative;
    padding-top: 20px;
    left: 20px;
    float: left;
    width: 80%; 
}

.processcontainer{
    position: relative;
    width: 80%;
    left: 10vw;
    right: auto;
    z-index: 3;
    margin-top: 200px;
    padding-bottom: 75px;
    opacity: 1;
    float: left;
    overflow: hidden;
    background-color: #58585b;
    border: 2px solid #000;
    border-width: 2px 2px 2px 2px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.headings{
    position: relative;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-left: 10px;
    left: 10px;
    font-family: helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 5vw;
    letter-spacing: -0.1vw;
    line-height: 5vw;
    text-decoration: underline;
     
    
}

.subhead{
    z-index: 3;
    position: relative;
    left: 60px;
    margin-left: 200px;
    padding-top: -100px;
    padding-bottom: 2px ;
    padding-bottom: 4px ;
    font-family: Times New Roman, Times, serif;
    font-weight: 300;
    font-size: 7vw;
    font-style: italic;
    letter-spacing: -0.01vw;
    line-height: 4vw;
    color: #712027;
}

.images{
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 10px;
    left: 10px;
    width: 70%;
}


.imagecredit{
    position: relative;
    padding-top: 2px;
    padding-bottom: 30px;
    margin-left: 300px;
    left: 100px;
    font-family: helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.01vw;
    line-height: 14px;
    text-decoration: underline;
    color: #bbbdc0;
}

.subtitles{
    position: relative;
    left: 100px;
    margin-left: 300px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-family: Times New Roman, Times, serif;
    font-weight: 300;
    font-size: 2vw;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: -0.01vw;
}

.bodtext{
    position: relative;
    padding-top: 2px;
    padding-bottom: 30px;
    margin-left: 300px;
    left: 100px;
    width:  50%;
    font-family: helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1vw;
    letter-spacing: -0.01vw;
    line-height: 1.5vw;
    color: black;
}







a:active, a:visited, a:link{
    color: #b4cac2;
    text-decoration: none;
}
a:hover{
    color: #b4cac2;
    font-style: italic;
}

a1:active, a1:visited, a1:link{
    color: #000000;
    text-decoration: none;
}
a1:hover{
    color: #000000;
    font-style: italic;
}

